.sub-category {
    height: 13vh;
    width: 80%;
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 10px;
}

.category-set {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 35px;
    height: 100%;
    vertical-align: middle;
    display: flex;
}

.title {
    margin: auto auto auto 0;
    font-size: 4vh;
    font-weight: bold;
}

.icon-view {
    width: 9vh;
    height: 9vh;
    margin: auto 2% auto 2%;
}

.background-cover {
    height: 94vh;
    padding-top: 5%;
    background-size: 100% 100%;

}