.background {
    position: absolute;
    height: 20vh;
    width: 100%;
    border: 0;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: 1s;
    z-index: 0;
}

.text {
    top: 50%;
    text-align: center;
    position: relative;
    font-size: 4vh;
    /* color: #756a49; */
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
}

.link {
    height: 20vh;
    transition: 1s;
}

.link:hover {
    background-color: white;
    opacity: 80%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
}