@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.login-register-containter {
  font-family: "Rubik", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: #00a1d6;
  background: linear-gradient(-180deg,
      #00a1d6 25%,
      rgba(0, 161, 214, 0.4) 46%,
      rgba(0, 161, 214, 0) 100%),
    linear-gradient(-180deg, #00a1d6 32%, rgba(40, 163, 204, 0.5) 100%);
  overflow-y: hidden;
}

.login-register-wrap {
  width: 90%;
  height: 80vh;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  /* overflow-y: scroll; */
}

.login-register-title {
  padding-top: 65px;
  display: block;
  font-size: 26px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 49px;
  font-weight: bolder;
}

.validate-input {
  position: relative;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 23px;
}

.label-input {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
  font-weight: bold;
}

.my-input {
  /* padding: 0px; */
  height: 32px;
  background: transparent;
  padding: 0 7px 0 5px;
  color: #333333;
  opacity: 0.9;
  outline: none;
  border: none;
  letter-spacing: 0.8px;
}

.focus-input {
  padding-top: 5px;
}

.icons {
  color: #adadad;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.container-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #00a1d6;
  background: linear-gradient(to right,
      #00a1d6 25%,
      rgba(0, 161, 214, 0.4) 46%,
      rgba(0, 161, 214, 0) 100%),
    linear-gradient(to right, #00a1d6 32%, rgba(40, 163, 204, 0.5) 100%);

  top: 0;
  left: -100%;
}

.form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  outline: none !important;
  border: none;
  background: transparent;
}

.or-text {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-select {
  width: 200px;
  min-height: 45px;
  border-width: 3px;
  border-color: rgba(50, 50, 50, 0.14);
  outline: none;
  border: none;
}

.dropdown-list {
  height: 30px;
}

.card-wrap {
  width: 320px;
  height: 540px;
  background: #fdfeff;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  background: #eeeeec;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

.card-container .round {
  width: 124px;
  height: 124px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2);
}

.profie-name {
  color: #2d354a;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.profile-country-age {
  color: #7c8097;
  font-size: 0.75em;
  font-weight: 300;
  text-align: center;
  /* padding-top: .5em; */
  /* padding-bottom: .7em; */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.profile-about {
  color: #080911;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10em;
}

.profile-btn {
  color: #fff;
  width: 130px;
  height: 42px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px;
  box-shadow: 0 13px 26px rgba(#000, 0.16), 0 3px 6px rgba(#000, 0.16);
  background: linear-gradient(to right,
      #00a1d6 25%,
      rgba(0, 161, 214, 0.4) 46%,
      rgba(0, 161, 214, 0) 100%),
    linear-gradient(to right, #00a1d6 32%, rgba(40, 163, 204, 0.5) 100%);
}

.profile-btn-title {
  position: relative;
  padding-top: 10px;
}

.my-textarea {
  margin: 0 auto 23px;
  border: 2px solid #d9d9d9;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  outline: none;
  text-align: start;
  position: relative;
}

.textarea-icon {
  position: absolute;
  right: 2px;
  bottom: 34px;
  color: #adadad;
}

.my-textarea::placeholder {
  padding-left: 2px;
  padding-top: 2px;
  height: 32px;
  color: #333333;
  opacity: 0.8;
  letter-spacing: 0.8px;
}

.image-item-placecard {
  height: 20vh !important;
  width: 20vh !important;
  margin-left: 10px;

}