.login-register-containter {
    font-family: "Rubik", sans-serif;
    width: 100%;
    min-height: 94vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: #00a1d6;
    background: linear-gradient(-180deg,
            #00a1d6 25%,
            rgba(0, 161, 214, 0.4) 46%,
            rgba(0, 161, 214, 0) 100%),
        linear-gradient(-180deg, #00a1d6 32%, rgba(40, 163, 204, 0.5) 100%);
    overflow-y: hidden;
}

.login-register-wrap {
    width: 90%;
    height: 80vh;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    /* overflow-y: scroll; */
}

.main-logo {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 17%;
    width: 100%;
    margin-top: 5%;
}

.main-logo-image {
    height: auto;
    width: 100%;
}

.login-register-title {
    display: block;
    font-size: 26px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 15%;
    font-weight: bolder;
}

.validate-input {
    position: relative;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 23px;
}

.label-input {
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
    font-weight: bold;
}

.my-input {
    /* padding: 0px; */
    height: 32px;
    background: transparent;
    padding: 0 7px 0 5px;
    color: #333333;
    opacity: 0.9;
    outline: none;
    border: none;
    letter-spacing: 0.8px;
}

.focus-input {
    padding-top: 5px;
}

.icons {
    color: #adadad;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.container-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #00a1d6;
    background: linear-gradient(to right,
            #00a1d6 25%,
            rgba(0, 161, 214, 0.4) 46%,
            rgba(0, 161, 214, 0) 100%),
        linear-gradient(to right, #00a1d6 32%, rgba(40, 163, 204, 0.5) 100%);

    top: 0;
    left: -100%;
}

.form-btn {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    outline: none !important;
    border: none;
    background: transparent;
}

.or-text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.my-textarea {
    margin: 0 auto 23px;
    border: 2px solid #d9d9d9;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    outline: none;
    text-align: start;
    position: relative;
}

.textarea-icon {
    position: absolute;
    right: 2px;
    bottom: 34px;
    color: #adadad;
}

.my-textarea::placeholder {
    padding-left: 2px;
    padding-top: 2px;
    height: 32px;
    color: #333333;
    opacity: 0.8;
    letter-spacing: 0.8px;
}

.my-select {
    width: 200px;
    min-height: 45px;
    border-width: 3px;
    border-color: rgba(50, 50, 50, 0.14);
    outline: none;
    border: none;
}

.dropdown-list {
    height: 30px;
}