@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

.background {
    position: absolute;
    height: 23.5vh;
    width: 100%;
    border: 0;
    transition: 1s;
    z-index: 0;

}

.text-category {
    top: 50%;
    text-align: center;
    position: relative;
    font-size: 5.5vh;
    /* font-weight: 900; */
    color: #ffffffe0;
    /* font-family: 'Alata', sans-serif; */
    /* font-family: "Rubik", sans-serif; */
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.8px;
}

.link {
    height: 23.5vh;
    transition: 1s;
}