body {
    background-image: url("https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* position: fixed; */
}



@media only screen and (max-width: 767px) {
    .ui.container {
        height: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .chat {
        padding-top: 0;
        height: 100vh;
        width: 100vw;
    }

    .ui.placeholder.segment {
        height: 100% !important;
        background-image: url("https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }

    .buttom-view {
        height: 50%;
    }

    .head-view {
        height: 50%;
    }

    .text-area {
        height: 30%;
    }
}